.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 15px;
    height: 80px;
    z-index: 1; /* Garante que o cabeçalho fique acima da imagem */
}

.titulo__sobre {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}